<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite" >    <parameter name="username" value="standard_user"/>    <parameter name="password" value="secret_sauce"/>    <test  preserve-order="true"  name="C:/software testing/automation testing/MavenProject">        <classes>            <class name="TestNG.softassertexp"/>            <class name="TestNG.HardAssertionExp"/>            <class name="TestNG.NeedOfParameterization"></class>            <class name="TestNG.hierachyInAnnotation"/>        </classes>    </test></suite>